/* Header background */
header, footer {
    background-color: #0093E9;
    background-image: linear-gradient(180deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 10px;
  }
  
  /* Task list styles */
  ul#list-el li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    list-style: none;
    background: #F0FFFF;
    transition: background-color 0.3s;
  }
  
  /* Icon styles */
  .bi-x-circle:hover::before {
    background: red;
    color: #fff;
    border-radius: 50%;
    outline: none;
  }
  
  .bi-pencil-square {
    font-size: 18px;
  }
  
  .bi-pencil-square:hover {
    color: #0d6efd;
  }
  
  /* No task message image */
  .no-task img {
    width: 80%;
    opacity: 0.6;
  }
  
  /* Task count box */
  #count {
    background-color: #cae4db;
    padding: 8px;
    border-radius: 5px;
  }
  .bi-check-circle,
.bi-x-circle {
  font-size: 20px;
}
[contenteditable="true"] {
  background-color: #e9f5ff;
  outline: none;
}
